<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C programming</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Boogaloo&display=swap">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        {%load static%}
        <link rel="stylesheet" href="{% static 'course/css/coursestyle.css'%}"/>

    
       </head>
    
    <body>
        {% for message in messages  %} 
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          <strong>Message : </strong> {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {%endfor%}
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <!-- Navbar brand -->
             <a class="navbar-brand" href="{% url 'home' %}" style=" font-family: Arial, Helvetica, sans-serif;margin-left:15px"><span class="app-name">
                <strong><span class="app-initial">Logic</span>Loom</strong>
            </span></a>
            <!-- Text for desktop resolutions -->
            <span class="navbar-text mx-auto d-lg-block">
                Programming Languages
            </span>
            
            <!-- Offcanvas Trigger Button for Low-resolution devices -->
            <button class="btn btn-primary ms-auto" type="button" data-bs-toggle="offcanvas"  data-bs-target="#offcanvasWithBothOptions">
                Open Menu
            </button>
        </nav>
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" 
        aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header">
                <h2 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Start Coding</h2>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" style="color:black">Home</a>
                    </li>
                    {% for chapter, topics in chapters.items %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:black">
                            Chapter {{ chapter }}
                        </a>
                        <ul class="dropdown-menu">
                            {% for topic in topics %}
                            <li>
                                 <a class="dropdown-item {% if topic.completed %}completed{% endif %}" href="{% url 'course1' slug=topic.topicid%}">{{ topic.topic_text }}</a> 
                                
                                    {% if topic.completed %}
                                        <img src="{% static 'course/images/tickmark.svg' %}" class="svg" alt="Completed">
                                    {% endif %}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
            
    <div class="container">
        <div class="card mt-4">
            <div class="card-body">
                <h2 class="card-title"  style="color: #007bff;">C</h2>
                <p class="card-text" >C is a powerful and efficient procedural programming language known for its 
                    low-level memory manipulation capabilities. Widely used for system-level programming, embedded
                     systems, and building high-performance applications, providing close control over hardware
                      resources.</p>
            </div>
        </div>
        
        
        <div class="card mt-4">
            <div class="card-body">
                <h2 class="card-title" style="color: #007bff;">C++</h2>
                <p class="card-text">C++ is a powerful, high-performance language, an extension of C.
                     Widely used in game development, systems programming, and resource-intensive applications,
                      offering low-level memory manipulation and object-oriented features.</p>
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-body">
                <h2 class="card-title"  style="color: #007bff;">Python</h2>
                <p class="card-text">Python is a high-level, versatile language with a clean syntax.
                Widely used for web development, data science, artificial intelligence, and automation due
                   to its readability and extensive libraries.</p>
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-body">
                <h2 class="card-title"  style="color: #007bff;">Java</h2>
                <p class="card-text">Java is a versatile, object-oriented language known for its platform independence.
                Commonly used in enterprise-level applications, Android app development, and large-scale
                   systems due to its portability and scalability.</p>
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-body">
                <h2 class="card-title"  style="color: #007bff;">JavaScript</h2>
                <p class="card-text">JavaScript is a dynamic scripting language primarily used for front-end web development.
                Enables interactive and dynamic user interfaces on websites, often paired with HTML and CSS;
                   also employed on the server side (Node.js) for full-stack development.</p>
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-body">
                <h2 class="card-title"  style="color: #007bff;">C#</h2>
                <p class="card-text">C# is a modern, object-oriented language developed by Microsoft.
            Primarily used for Windows applications, game development with Unity, 
                  and server-side applications with the .NET framework.</p>
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-body">
                <h2 class="card-title"  style="color: #007bff;">Ruby</h2>
                <p class="card-text">Ruby is a dynamic, object-oriented language with an elegant syntax.
                Known for its simplicity and readability, Ruby is commonly used in web development, 
                particularly with the Ruby on Rails framework.</p>
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-body">
                <h2 class="card-title"  style="color: #007bff;">Swift</h2>
                <p class="card-text">Swift is a powerful and intuitive language developed by Apple for iOS and macOS app development.</p>
                <p>Mainly employed for building native iOS and macOS applications, providing better performance and
                   safety compared to Objective-C.</p>
            </div>
        </div>
        <div class="card mt-4">
        <div class="card-body">
            <h2 class="card-title"  style="color: #007bff;">PHP</h2>
            <p class="card-text">PHP is a server-side scripting language designed for web development.</p>
            <p>Used to create dynamic websites and handle server-side tasks, PHP is embedded in HTML
                 and interacts with databases like MySQL.</p>
        </div>
        </div>
    <div class="card mt-4">
        <div class="card-body">
            <h2 class="card-title"  style="color: #007bff;">Kotlin</h2>
            <p class="card-text">Kotlin is a modern, concise language interoperable with Java and widely used for Android app development.</p>
            <p>Offers enhanced features over Java, simplifying Android app development with concise syntax 
              and improved safety.</p>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <h2 class="card-title"  style="color: #007bff;">R</h2>
            <p class="card-text">R is a statistical programming language and environment for data analysis and visualization..</p>
            <p>Widely used in data science, statistical analysis, and machine learning applications, R is
               known for its extensive libraries and visualization capabilities.</p>
        </div>
    </div>
    <div >
        <h2 class="mt-4">Resources :</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe  src="https://www.youtube.com/embed/ajIcjx0PeYU" class="embed-responsive-item"></iframe>
        </div>
    </div>
    <div class="card" style="margin-top:20px;">
        <div class="card-header">
          Test Your Knowledge
        </div>
        <div class="card-body">
          <h5 class="card-title">Choose The </h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <div class="mcqs mt-5">
          
                <form action="{% url 'checkanswerc1' slug='c1ch1t5' %}" method='post'>{% csrf_token %}
                    <p><span>Q1. </span>Which programming language is commonly used for developing mobile applications?</p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="q1" value="A" id="q1_option1" required>
                        <label class="form-check-label" for="q1_option1">
                            A. Java 
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="q1" value="B" id="q1_option2">
                        <label class="form-check-label" for="q1_option2">
                            B. Python
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="q1" value="C" id="q1_option3">
                        <label class="form-check-label" for="q1_option3">
                            C. C++  
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="q1" value="D" id="q1_option4">
                        <label class="form-check-label" for="q1_option4">
                            D. PHP 
                        </label>
                    </div>
                
                    <p><span>Q2. </span>Which programming language is often used for data analysis and machine learning?</p>
                    
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="q2" value="A" id="q2_option1" required>
                        <label class="form-check-label" for="q2_option1">
                            A. Java
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="q2" value="B" id="q2_option2">
                        <label class="form-check-label" for="q2_option2">
                            B. C++
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="q2" value="C" id="q2_option3">
                        <label class="form-check-label" for="q2_option3">
                            C. Python
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="q2" value="D" id="q2_option4">
                        <label class="form-check-label" for="q2_option4">
                            D. Ruby
                        </label>
                    </div>
                    <input type="submit" class="btn btn-primary" style="margin-top: 15px;">
                </form>
            </div>       
        </div>
      </div>
    <div id="navigation" class="mt-4 text-center">
        <a href="{% url 'course1' slug='c1ch1t4'%}" class="btn btn-secondary">Prev</a>
        <a href="{% url 'course1' slug='c1ch1t6'%}" class="btn btn-secondary">Next</a>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
