<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contest Page</title>
</head>
<body>
    <h1>Upcoming Contests</h1>
    <ul>
        {% for contest in upcoming_contests %}
            <li>{{ contest.hackerrank_link}}</li>
        {% endfor %}
    </ul>

    <h1>Previous Contests</h1>
    <ul>
        {% for contest in previous_contests %}
            <li>{{ contest.hackerrank_link}}</li>
        {% endfor %}
    </ul>
</body>
</html>
