<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C programming</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Boogaloo&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    {%load static%}
   <link rel="stylesheet" href="{% static 'course/css/coursestyle.css'%}"/>
   
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Boogaloo&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
 
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    /* Custom Styles */
    body {
      background-color: #f0f0f0;
    }
    .toc-container {
      max-width: 800px;
      margin: 50px auto;
    }
    .toc-card {
      border-radius: 15px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s;
      background: linear-gradient(45deg, #a38fea, #e499ea);
      border: none;
    }
    .toc-card:hover {
      transform: translateY(-5px);
    }
    .toc-title {
     
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 20px;
      color: #fff;
      text-align: center;
      padding: 20px 0;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }
    .toc-list {
      list-style-type: none;
      padding-left: 0;
    }
    .toc-list-item {
      margin-bottom: 10px;
    }
    .toc-list-item a {
      color: #fff;
      text-decoration: none;
      transition: color 0.3s;
      display: block;
      padding: 10px 20px;
      border-radius: 10px;
      background: linear-gradient(45deg, #8cd1f4, #7110cb);
    }

    .chapter-header {
        background: linear-gradient(45deg, #4dddbe, #2956eb); /* Gradient background */
        color: #fff;
        padding: 50px;
        border-radius: 10px;
        margin-bottom: 20px;
        
      }
      .chapter-description {
        margin-bottom: 20px;
       
      }
    .toc-list-item a:hover {
      background: linear-gradient(45deg, #1e88da, #e796c1);
      color: #fff;
    }
    .toc-card-header {
      background: linear-gradient(45deg, #2495eb, #cc53ea);
      color: #bce8e0;
      border-radius: 15px 15px 0 0;
      padding: 20px;
    }
    .toc-card-body {
      padding: 20px;
    }
    .card-body a {
      margin-bottom: 5px;
    }
  </style>
</head>


<body>
  

 
  {% for message in messages  %} 
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message : </strong> {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {%endfor%}
  <!-- Navbar -->
   <!-- Navbar -->
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- Navbar brand -->
      {% comment %} <a class="navbar-brand"href="{% url 'home' %}" style="margin-left:10px">Home</a> {% endcomment %}
      <a class="navbar-brand" href="{% url 'home' %}" style=" font-family: Arial, Helvetica, sans-serif;margin-left:15px"><span class="app-name">
          <strong><span class="app-initial">Logic</span>Loom</strong>
      </span></a>
 
      <!-- Text for desktop resolutions -->
      <span class="navbar-text mx-auto d-lg-block">
       
Context page
      </span>
      
      
  </nav>

<!-- Offcanvas Body -->
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" 
aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
      <h2 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Getting Started With C</h2>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}" style="color:black">Home</a>
          </li>
          {% for chapter, topics in chapters.items %}
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:black">
                  Chapter {{ chapter }}
              </a>
              <ul class="dropdown-menu">
                  {% for topic in topics %}
                  <li>
                       <a class="dropdown-item {% if topic.completed %}completed{% endif %}" href="{% url 'course2' slug=topic.topicid%}">{{ topic.topic_text }}
                      
                          {% if topic.completed %}
                              <img src="{% static 'course/images/tickmark.svg' %}" class="svg" alt="Completed">
                          {% endif %}
                      </a>
                  </li>
                  {% endfor %}
              </ul>
          </li>
          {% endfor %}
      </ul>
  </div>
</div>


  <div class="container toc-container">
    <div class="card toc-card">
      <h1 class="toc-title">Course Context</h1>
      <div class="chapter-header">
        <h3>Unlock the Magic of Coding</h3>
        <p class="lead">In this captivating chapter, where the art of digital creation meets boundless imagination. Explore the essence of coding, from defining its power to discovering the endless possibilities it offers. Prepare to embark on an enchanting journey where lines of code transform into the poetry of innovation.</p>
      </div>
      <div class="card-body toc-card-body">
        <ul class="toc-list mt-4">
          <li class="toc-list-item">
            <a href="#" data-toggle="collapse" data-target="#chapter1" aria-expanded="false" aria-controls="chapter1">Chapter 1: Introduction to C</a>
            <div class="collapse" id="chapter1">
              <div class="card card-body">
                <a href="{% url 'course2' slug='c2ch1t1'%}">1.1: Where do we use C?</a>
                <a href="{% url 'course2' slug='c2ch1t2'%}">1.2: Importance of C</a>
                <a href="{% url 'course2' slug='c2ch1t3'%}">1.3: History of C</a>
                <a href="{% url 'course2' slug='c2ch1t4'%}">1.4: Different steps involved in problem solving </a>
                <a href="{% url 'course2' slug='c2ch1t5'%}">1.5: Characteristics of an algorithm</a>
                <a href="{% url 'course2' slug='c2ch1t6'%}">1.6: Algorithm Design</a>
                <a href="{% url 'course2' slug='c2ch1t7'%}">1.7: Flowchart Symbols</a>
                <a href="{% url 'course2' slug='c2ch1t8'%}">1.8: Flowchart Problems</a>
                <a href="{% url 'course2' slug='c2ch1t9'%}">1.9: Algorithm vs Flowchart vs Program</a>
                <a href="{% url 'course2' slug='c2ch1t10'%}">1.10: Psuedocode</a>
                <a href="{% url 'course2' slug='c2ch1t11'%}">1.11: High level and Low level Language</a>
                <a href="{% url 'course2' slug='c2ch1t12'%}">1.12: Language Processors-1</a>
                <a href="{% url 'course2' slug='c2ch1t13'%}">1.13: Language Processors-2</a>
                <a href="{% url 'course2' slug='c2ch1t14'%}">1.14: Structure of C</a>
                <a href="{% url 'course2' slug='c2ch1t15'%}">1.15: Linker vs Loader</a>
                <a href="{% url 'course2' slug='c2ch1t16'%}">1.16: pop vs oops</a>
                <a href="{% url 'course2' slug='c2ch1t17'%}">1.17: compiler vs interpreter and machine code vs assembly code</a>
              

              </div>
            </div>
          </li>
          <li class="toc-list-item">
            <a href="#" data-toggle="collapse" data-target="#chapter2" aria-expanded="false" aria-controls="chapter2">Chapter 2: Constants, Variables, Data Types, Operators, Expressions Input and Output Operation</a>
            <div class="collapse" id="chapter2">
              <div class="card card-body">
                <a href="{% url 'course2' slug='c2ch2t1'%}">2.1: character Set</a>
                <a href="{% url 'course2' slug='c2ch2t2'%}">2.2: C Tokens</a>
                <a href="{% url 'course2' slug='c2ch2t3'%}">2.3: Keywords and Identifiers</a>
                <a href="{% url 'course2' slug='c2ch2t4'%}">2.4: Constants </a>
                <a href="{% url 'course2' slug='c2ch2t5'%}">2.5: Variables </a>
                <a href="{% url 'course2' slug='c2ch2t6'%}">2.6: DataTypes </a>
                <a href="{% url 'course2' slug='c2ch2t7'%}">2.7: Declaring variables </a>
                <a href="{% url 'course2' slug='c2ch2t8'%}">2.8: Initializing variables </a>
                <a href="{% url 'course2' slug='c2ch2t9'%}">2.9: Symbolic Constants </a>
                <a href="{% url 'course2' slug='c2ch2t10'%}">2.10: variable as Constant </a>
                <a href="{% url 'course2' slug='c2ch2t11'%}">2.11: Variable as Volatile </a>
                <a href="{% url 'course2' slug='c2ch2t12'%}">2.12: Formatted Input </a>
                <a href="{% url 'course2' slug='c2ch2t13'%}">2.13: Formatted Output </a>
                <a href="{% url 'course2' slug='c2ch2t14'%}">2.14: Operators </a>
                <a href="{% url 'course2' slug='c2ch2t15'%}">2.15: Classification of Operators </a>
                <a href="{% url 'course2' slug='c2ch2t16'%}">2.16: Arithmetic Operators </a>
                <a href="{% url 'course2' slug='c2ch2t17'%}">2.17: Relational Operators </a>
                <a href="{% url 'course2' slug='c2ch2t18'%}">2.18: Logical Operators </a>
                <a href="{% url 'course2' slug='c2ch2t19'%}">2.19: Assignment Operators </a>
                <a href="{% url 'course2' slug='c2ch2t20'%}">2.20: Conditional Operators </a>
                <a href="{% url 'course2' slug='c2ch2t21'%}">2.21: Bitwise Operators </a>
                <a href="{% url 'course2' slug='c2ch2t22'%}">2.22: Special Operators </a>
                <a href="{% url 'course2' slug='c2ch2t23'%}">2.23: Evaluation of Expressions</a>
                <a href="{% url 'course2' slug='c2ch2t24'%}">2.24: Precedence</a>
                <a href="{% url 'course2' slug='c2ch2t25'%}">2.25: Type Conversion</a>
                <a href="{% url 'course2' slug='c2ch2t26'%}">2.26: Pre-processor directives</a>
                <a href="{% url 'course2' slug='c2ch2t27'%}">2.27: Header Files</a>
                <a href="{% url 'course2' slug='c2ch2t28'%}">2.28: I/O functions</a>
            </div>
            </div>
          </li>
          <li class="toc-list-item">
            <a href="#" data-toggle="collapse" data-target="#chapter3" aria-expanded="false" aria-controls="chapter3">Chapter 3: Decision Making and Loop Statements</a>
            <div class="collapse" id="chapter3">
              <div class="card card-body">
                <a href="{% url 'course2' slug='c2ch3t1'%}">3.1: Decision making and Loop Statements</a>
                <a href="{% url 'course2' slug='c2ch3t2'%}">3.2: if Statements</a>
                <a href="{% url 'course2' slug='c2ch3t3'%}">3.3: if else statements</a>
                <a href="{% url 'course2' slug='c2ch3t4'%}">3.4: Nested if else</a>
                <a href="{% url 'course2' slug='c2ch3t5'%}">3.5: Else if ladder </a>
                <a href="{% url 'course2' slug='c2ch3t6'%}">3.6: Switch statements</a>
                <a href="{% url 'course2' slug='c2ch3t7'%}">3.7: ? operator </a>
                <a href="{% url 'course2' slug='c2ch3t8'%}">3.8: goto statement</a>
                <a href="{% url 'course2' slug='c2ch3t9'%}">3.9: while loop</a>
                <a href="{% url 'course2' slug='c2ch3t10'%}">3.10: do while loop</a>
                <a href="{% url 'course2' slug='c2ch3t11'%}">3.11: for loop</a>
                <a href="{% url 'course2' slug='c2ch3t12'%}">3.12: jumps in loops</a>
                <a href="{% url 'course2' slug='c2ch3t13'%}">3.13: concise test expressions</a>
                <a href="{% url 'course2' slug='c2ch3t14'%}">3.14: Practice sheet</a>
               
              </div>
            </div>
          </li>
          <!-- Add more chapters as needed -->

          <li class="toc-list-item">
            <a href="#" data-toggle="collapse" data-target="#chapter4" aria-expanded="false" aria-controls="chapter4">Chapter 4: Arrays and Strings</a>
            <div class="collapse" id="chapter4">
              <div class="card card-body">
                <a href="{% url 'course2' slug='c2ch4t1'%}">4.1: Introduction </a>
                <a href="{% url 'course2' slug='c2ch4t2'%}">4.2: 1-D Array</a>
                <a href="{% url 'course2' slug='c2ch4t3'%}">4.3: Initialisation of 1D Array</a>
                <a href="{% url 'course2' slug='c2ch4t4'%}">4.4: 2D array</a>
                <a href="{% url 'course2' slug='c2ch4t5'%}">4.5: Matrix Operations</a>
                <a href="{% url 'course2' slug='c2ch4t6'%}">4.6: Multi dimentionsal</a>
                <a href="{% url 'course2' slug='c2ch4t7'%}">4.7: Dynamic Array</a>
                <a href="{% url 'course2' slug='c2ch4t8'%}">4.8: more about arrays</a>
                <a href="{% url 'course2' slug='c2ch4t9'%}">4.9: Character arrays and strings</a>
                <a href="{% url 'course2' slug='c2ch4t10'%}">4.10: String variables </a>
                <a href="{% url 'course2' slug='c2ch4t11'%}">4.11: Reading strings</a>
                <a href="{% url 'course2' slug='c2ch4t12'%}">4.12: Writing strings</a>
                <a href="{% url 'course2' slug='c2ch4t13'%}">4.13: Artimetic operations on characters</a>
                <a href="{% url 'course2' slug='c2ch4t14'%}">4.14: Putting strings together</a>
                <a href="{% url 'course2' slug='c2ch4t15'%}">4.15: Comparision of 2 strings</a>
                <a href="{% url 'course2' slug='c2ch4t16'%}">4.16: String handling functions</a>
                <a href="{% url 'course2' slug='c2ch4t17'%}">4.17: Table of Strings</a>
                <a href="{% url 'course2' slug='c2ch4t18'%}">4.18: Other features of strings</a>
                <a href="{% url 'course2' slug='c2ch4t19'%}">4.19: Practice sheet</a>

               
              </div>
            </div>
          </li>


          <li class="toc-list-item">
            <a href="#" data-toggle="collapse" data-target="#chapter5" aria-expanded="false" aria-controls="chapter5">Chapter 5: User-Defined Functions</a>
            <div class="collapse" id="chapter3">
              <div class="card card-body">
                <a href="{% url 'course2' slug='c2ch5t1'%}">5.1: Introduction </a>
                <a href="{% url 'course2' slug='c2ch5t2'%}">5.2: Need for user defined functions</a>
                <a href="{% url 'course2' slug='c2ch5t3'%}">5.3: A multi function program</a>
                <a href="{% url 'course2' slug='c2ch5t4'%}">5.4: Elements of user defined functions </a>
                <a href="{% url 'course2' slug='c2ch5t5'%}">5.5: Defination of fuction </a>
                <a href="{% url 'course2' slug='c2ch5t6'%}">5.6: return values</a>
                <a href="{% url 'course2' slug='c2ch5t7'%}">5.7: Function Declaration</a>
                <a href="{% url 'course2' slug='c2ch5t8'%}">5.8: Category of functions </a>
                <a href="{% url 'course2' slug='c2ch5t9'%}">5.9: with arguments no return value </a>
                <a href="{% url 'course2' slug='c2ch5t10'%}">5.10: with arguments return value</a>
                <a href="{% url 'course2' slug='c2ch5t11'%}">5.11: no arguments with return value </a>
                <a href="{% url 'course2' slug='c2ch5t12'%}">5.12: passing array to function</a>
                <a href="{% url 'course2' slug='c2ch5t13'%}">5.13: passing string to functions</a>
                <a href="{% url 'course2' slug='c2ch5t14'%}">5.14: Scope, visibility and lifetime of variables </a>
                <a href="{% url 'course2' slug='c2ch5t15'%}">5.15: Practice sheet </a>
            
              </div>
            </div>
          </li>


          <li class="toc-list-item">
            <a href="#" data-toggle="collapse" data-target="#chapter6" aria-expanded="false" aria-controls="chapter6">Chapter 6: Structures and Unions</a>
            <div class="collapse" id="chapter6">
              <div class="card card-body">
                <a href="{% url 'course2' slug='c2ch6t1'%}">6.1: Introduction →</a>
                <a href="{% url 'course2' slug='c2ch6t2'%}">6.2: Defining a Structure</a>
                <a href="{% url 'course2' slug='c2ch6t3'%}">6.3: Declaring Structure Variables</a>
                <a href="{% url 'course2' slug='c2ch6t4'%}">6.4: Accessing Structure Members </a>
                <a href="{% url 'course2' slug='c2ch6t5'%}">6.5: Operations on Individual Members</a>
                <a href="{% url 'course2' slug='c2ch6t6'%}">6.6: Nested Structure</a>
                <a href="{% url 'course2' slug='c2ch6t7'%}">6.7: Arrays of Structures</a>
                <a href="{% url 'course2' slug='c2ch6t8'%}">6.8: Arrays within Structures</a>
                <a href="{% url 'course2' slug='c2ch6t9'%}">6.9: Structures within Structures</a>
                <a href="{% url 'course2' slug='c2ch6t10'%}">6.10: Structures and Functions</a>
                <a href="{% url 'course2' slug='c2ch6t11'%}">6.11: Unions </a>
                <a href="{% url 'course2' slug='c2ch6t12'%}">6.12: Structure Initialization</a>
                <a href="{% url 'course2' slug='c2ch6t13'%}">6.13: Copying and Comparing Structure Variables</a>
                <a href="{% url 'course2' slug='c2ch6t14'%}">6.14: Size of Structures</a> 
                <a href="{% url 'course2' slug='c2ch6t15'%}">6.15: Bit Fields</a>
                <a href="{% url 'course2' slug='c2ch6t16'%}">6.16: Recursion</a>
                <a href="{% url 'course2' slug='c2ch6t17'%}">6.17: Multifile Programs</a>
                <a href="{% url 'course2' slug='c2ch6t18'%}">6.18: Function Calls</a>
                <a href="{% url 'course2' slug='c2ch6t19'%}">6.19: File Management in C</a>
                <a href="{% url 'course2' slug='c2ch6t20'%}">6.20: Input/Output Operations on Files →</a>
                <a href="{% url 'course2' slug='c2ch6t21'%}">6.21: Error Handling During I/0 Operations</a>
                <a href="{% url 'course2' slug='c2ch6t22'%}">6.22: Random Access to Files</a>
                <a href="{% url 'course2' slug='c2ch6t23'%}">6.23: Command Line Arguments</a>
                <a href="{% url 'course2' slug='c2ch6t24'%}">6.24: Practice Sheet</a>
               </div>
            </div>
          </li>


          <li class="toc-list-item"><a href="{% url 'course2' 'notes' %}">Handwritten notes </a></li>
          <li class="toc-list-item"><a href="https://www.hackerrank.com/level-7">Practice questions</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>