<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <!-- Bootstrap CSS -->
    <!-- {%load static%} -->
    <link rel="stylesheet" href="{% static 'course/css/leaderboard.css'%}"/>
    <link rel="stylesheet" href="{% static 'course/css/coursestyle.css'%}"/>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            color: #495057;
        }
        .container {
            margin-top: 50px;

        }
        .leaderboard {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
            padding: 20px;
            overflow-y: auto; /* Enable vertical scrolling */
            max-height: calc(5 * 50px + 2 * 20px + 2 * 1px); /* Height for 5 rows */
        }
        .leaderboard h2 {
            margin-bottom: 20px;
            text-align: center;
        }
        .table-wrap {
            overflow-x: auto;
            width: 100%; /* Adjust the width as needed */
            height: 500px; /* Adjust the height as needed */
            overflow-y: scroll;
            border: 1px solid #ccc;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #dee2e6;
        }
        th {
            background-color: #f8f9fa;
            font-weight: bold;
            text-transform: uppercase;
        }
        .text-center {
            text-align: center;
        }
        .country-flag {
            max-width: 30px;
            height: auto;
            vertical-align: middle;
        }
        @media (max-width: 768px) {
            .table-wrap {
                overflow-x: scroll;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="table-wrap">
            <header>



                <div class="span-flex-2 text-center">
                    <h3>Rank <span class="board-filter hide"><a href="" class="top caret-up caret"></a><a href="" class="bottom caret"></a></span> </h3>
                </div>
                <div class="span-flex-4">
                    <h3>User <span class="board-filter hide"><a href="" class="top caret-up caret"></a><a href="" class="bottom caret"></a></span> </h3>
                </div>
                <div class="span-flex-2">
                    &nbsp;
                </div>
                <div class="small span-flex-3">
                    <h3>Score <span class="board-filter hide"><a href="" class="top caret-up caret"></a><a href="" class="bottom caret"></a></span> </h3>
                </div>

                    <div class="span-flex-2">
                    <h3 rel="tooltip" data-original-title="See the contest rules to understand how it is calculated">Time <span class="board-filter hide"><a href="" class="top caret-up caret"></a><a href="" class="bottom caret"></a></span> </h3>
                </div>



                    <div class="span-flex-3 text-center">
                        <h3>Country <span class="board-filter hide"><a href="" class="top caret-up caret"></a><a href="" class="bottom caret"></a></span></h3>
                    </div>



            </header>

          <div id="leaders" class="table-body">
            <div class="leaderboard-list-view">

    <div class="row padding-small top bottom leaderboard-row  row-alt " style="">



        <div class="span-flex-2 text-center">
            <p>1</p>
        </div>
        <div class="span-flex-4">
            <p>
                <a class="cursor leaderboard-hackername rg_5" data-action="hacker-modal" rel="tooltip" title="cs108harikashiv1 last submitted 25 minutes ago" data-value="cs108harikashiv1" href="/cs108harikashiv1" target="_blank" data-analytics="LeaderboardUserName" data-attr1="cs108harikashiv1" data-attr2="" data-attr3="" data-attr4="logicloom-grand-contest" data-attr5="" data-attr6="" data-attr7="5" data-attr8="1" data-attr10="92">
                    cs108harikashiv1
                </a>


            </p>
        </div>
        <div class="span-flex-2 compare-link" style="visibility: hidden;">
            <p><a target="_blank" href="contests/logicloom-grand-contest/compare/logicloom127/cs108harikashiv1">Compare</a></p>
        </div>
        <div class="span-flex-3">
            <p>
                92.00
            </p>
        </div>


            <div class="span-flex-2">
                <p>
                    1:22:24
                </p>
            </div>


            <div class="span-flex-3 text-center">
                <img class="flag" rel="tooltip" src="https://hrcdn.net/hackerrank/static/flags/_unknown.png" title="" alt="" onerror="this.onerror=null; this.src='https://hrcdn.net/hackerrank/static/flags/_unknown.png';">
            </div>



</div>
</div><div class="leaderboard-list-view">

    <div class="row padding-small top bottom leaderboard-row  " style="">



        <div class="span-flex-2 text-center">
            <p>2</p>
        </div>
        <div class="span-flex-4">
            <p>
                <a class="cursor leaderboard-hackername rg_5" data-action="hacker-modal" rel="tooltip" title="dongirirahul8451 last submitted 26 minutes ago" data-value="dongirirahul8451" href="/dongirirahul8451" target="_blank" data-analytics="LeaderboardUserName" data-attr1="dongirirahul8451" data-attr2="" data-attr3="India" data-attr4="logicloom-grand-contest" data-attr5="" data-attr6="" data-attr7="5" data-attr8="2" data-attr10="90">
                    dongirirahul8451
                </a>


            </p>
        </div>
        <div class="span-flex-2 compare-link" style="visibility: hidden;">
            <p><a target="_blank" href="contests/logicloom-grand-contest/compare/logicloom127/dongirirahul8451">Compare</a></p>
        </div>
        <div class="span-flex-3">
            <p>
                90.00
            </p>
        </div>


            <div class="span-flex-2">
                <p>
                    1:07:43
                </p>
            </div>


            <div class="span-flex-3 text-center">
                <img class="flag" rel="tooltip" src="https://hrcdn.net/hackerrank/static/flags/IN.png" title="India" alt="India" onerror="this.onerror=null; this.src='https://hrcdn.net/hackerrank/static/flags/_unknown.png';">
            </div>



</div>
</div><div class="leaderboard-list-view">

    <div class="row padding-small top bottom leaderboard-row  row-alt " style="">



        <div class="span-flex-2 text-center">
            <p>3</p>
        </div>
        <div class="span-flex-4">
            <p>
                <a class="cursor leaderboard-hackername rg_5" data-action="hacker-modal" rel="tooltip" title="gavuthreasmitha last submitted 16 minutes ago" data-value="gavuthreasmitha" href="/gavuthreasmitha" target="_blank" data-analytics="LeaderboardUserName" data-attr1="gavuthreasmitha" data-attr2="" data-attr3="" data-attr4="logicloom-grand-contest" data-attr5="" data-attr6="" data-attr7="5" data-attr8="3" data-attr10="88">
                    gavuthreasmitha
                </a>


            </p>
        </div>
        <div class="span-flex-2 compare-link" style="visibility: hidden;">
            <p><a target="_blank" href="contests/logicloom-grand-contest/compare/logicloom127/gavuthreasmitha">Compare</a></p>
        </div>
        <div class="span-flex-3">
            <p>
                88.00
            </p>
        </div>


            <div class="span-flex-2">
                <p>
                    1:14:10
                </p>
            </div>


            <div class="span-flex-3 text-center">
                <img class="flag" rel="tooltip" src="https://hrcdn.net/hackerrank/static/flags/_unknown.png" title="" alt="" onerror="this.onerror=null; this.src='https://hrcdn.net/hackerrank/static/flags/_unknown.png';">
            </div>



</div>
</div><div class="leaderboard-list-view">

    <div class="row padding-small top bottom leaderboard-row  " style="">



        <div class="span-flex-2 text-center">
            <p>3</p>
        </div>
        <div class="span-flex-4">
            <p>
                <a class="cursor leaderboard-hackername rg_5" data-action="hacker-modal" rel="tooltip" title="23001cs093abhir1 last submitted 8 minutes ago" data-value="23001cs093abhir1" href="/23001cs093abhir1" target="_blank" data-analytics="LeaderboardUserName" data-attr1="23001cs093abhir1" data-attr2="" data-attr3="India" data-attr4="logicloom-grand-contest" data-attr5="" data-attr6="" data-attr7="5" data-attr8="3" data-attr10="88">
                    23001cs093abhir1
                </a>


            </p>
        </div>
        <div class="span-flex-2 compare-link" style="visibility: hidden;">
            <p><a target="_blank" href="contests/logicloom-grand-contest/compare/logicloom127/23001cs093abhir1">Compare</a></p>
        </div>
        <div class="span-flex-3">
            <p>
                88.00
            </p>
        </div>


            <div class="span-flex-2">
                <p>
                    2:40:09
                </p>
            </div>


            <div class="span-flex-3 text-center">
                <img class="flag" rel="tooltip" src="https://hrcdn.net/hackerrank/static/flags/IN.png" title="India" alt="India" onerror="this.onerror=null; this.src='https://hrcdn.net/hackerrank/static/flags/_unknown.png';">
            </div>



</div>
</div><div class="leaderboard-list-view">

    <div class="row padding-small top bottom leaderboard-row  row-alt " style="">



        <div class="span-flex-2 text-center">
            <p>5</p>
        </div>
        <div class="span-flex-4">
            <p>
                <a class="cursor leaderboard-hackername rg_5" data-action="hacker-modal" rel="tooltip" title="cs008nomansiddi1 last submitted 8 minutes ago" data-value="cs008nomansiddi1" href="/cs008nomansiddi1" target="_blank" data-analytics="LeaderboardUserName" data-attr1="cs008nomansiddi1" data-attr2="" data-attr3="India" data-attr4="logicloom-grand-contest" data-attr5="" data-attr6="" data-attr7="5" data-attr8="5" data-attr10="86">
                    cs008nomansiddi1
                </a>


            </p>
        </div>
        <div class="span-flex-2 compare-link" style="visibility: hidden;">
            <p><a target="_blank" href="contests/logicloom-grand-contest/compare/logicloom127/cs008nomansiddi1">Compare</a></p>
        </div>
        <div class="span-flex-3">
            <p>
                86.00
            </p>
        </div>


            <div class="span-flex-2">
                <p>
                    43:46
                </p>
            </div>


            <div class="span-flex-3 text-center">
                <img class="flag" rel="tooltip" src="https://hrcdn.net/hackerrank/static/flags/IN.png" title="India" alt="India" onerror="this.onerror=null; this.src='https://hrcdn.net/hackerrank/static/flags/_unknown.png';">
            </div>



</div>
</div><div class="leaderboard-list-view">

    <div class="row padding-small top bottom leaderboard-row  " style="">



        <div class="span-flex-2 text-center">
            <p>6</p>
        </div>
        <div class="span-flex-4">
            <p>
                <a class="cursor leaderboard-hackername rg_5" data-action="hacker-modal" rel="tooltip" title="punnasravani7 last submitted 6 minutes ago" data-value="punnasravani7" href="/punnasravani7" target="_blank" data-analytics="LeaderboardUserName" data-attr1="punnasravani7" data-attr2="" data-attr3="India" data-attr4="logicloom-grand-contest" data-attr5="" data-attr6="" data-attr7="5" data-attr8="6" data-attr10="82">
                    punnasravani7
                </a>


            </p>
        </div>
        <div class="span-flex-2 compare-link" style="visibility: hidden;">
            <p><a target="_blank" href="contests/logicloom-grand-contest/compare/logicloom127/punnasravani7">Compare</a></p>
        </div>
        <div class="span-flex-3">
            <p>
                82.00
            </p>
        </div>


            <div class="span-flex-2">
                <p>
                    2:49:05
                </p>
            </div>


            <div class="span-flex-3 text-center">
                <img class="flag" rel="tooltip" src="https://hrcdn.net/hackerrank/static/flags/IN.png" title="India" alt="India" onerror="this.onerror=null; this.src='https://hrcdn.net/hackerrank/static/flags/_unknown.png';">
            </div>



</div>
</div><div class="leaderboard-list-view">

    <div class="row padding-small top bottom leaderboard-row  row-alt " style="">



        <div class="span-flex-2 text-center">
            <p>7</p>
        </div>
        <div class="span-flex-4">
            <p>
                <a class="cursor leaderboard-hackername rg_5" data-action="hacker-modal" rel="tooltip" title="rakshithagouda19 last submitted 4 minutes ago" data-value="rakshithagouda19" href="/rakshithagouda19" target="_blank" data-analytics="LeaderboardUserName" data-attr1="rakshithagouda19" data-attr2="" data-attr3="India" data-attr4="logicloom-grand-contest" data-attr5="" data-attr6="" data-attr7="5" data-attr8="7" data-attr10="60">
                    rakshithagouda19
                </a>


            </p>
        </div>
        <div class="span-flex-2 compare-link" style="visibility: hidden;">
            <p><a target="_blank" href="contests/logicloom-grand-contest/compare/logicloom127/rakshithagouda19">Compare</a></p>
        </div>
        <div class="span-flex-3">
            <p>
                60.00
            </p>
        </div>


            <div class="span-flex-2">
                <p>
                    1:57:55
                </p>
            </div>


            <div class="span-flex-3 text-center">
                <img class="flag" rel="tooltip" src="https://hrcdn.net/hackerrank/static/flags/IN.png" title="India" alt="India" onerror="this.onerror=null; this.src='https://hrcdn.net/hackerrank/static/flags/_unknown.png';">
            </div>



</div>
</div><div class="leaderboard-list-view">

    <div class="row padding-small top bottom leaderboard-row  " style="">



        <div class="span-flex-2 text-center">
            <p>8</p>
        </div>
        <div class="span-flex-4">
            <p>
                <a class="cursor leaderboard-hackername rg_5" data-action="hacker-modal" rel="tooltip" title="cs077satvika last submitted 17 minutes ago" data-value="cs077satvika" href="/cs077satvika" target="_blank" data-analytics="LeaderboardUserName" data-attr1="cs077satvika" data-attr2="" data-attr3="India" data-attr4="logicloom-grand-contest" data-attr5="" data-attr6="" data-attr7="5" data-attr8="8" data-attr10="58">
                    cs077satvika
                </a>


            </p>
        </div>
        <div class="span-flex-2 compare-link" style="visibility: hidden;">
            <p><a target="_blank" href="contests/logicloom-grand-contest/compare/logicloom127/cs077satvika">Compare</a></p>
        </div>
        <div class="span-flex-3">
            <p>
                58.00
            </p>
        </div>


            <div class="span-flex-2">
                <p>
                    1:50:59
                </p>
            </div>


            <div class="span-flex-3 text-center">
                <img class="flag" rel="tooltip" src="https://hrcdn.net/hackerrank/static/flags/IN.png" title="India" alt="India" onerror="this.onerror=null; this.src='https://hrcdn.net/hackerrank/static/flags/_unknown.png';">
            </div>



</div>
</div><div class="leaderboard-list-view">

    <div class="row padding-small top bottom leaderboard-row  row-alt " style="">



        <div class="span-flex-2 text-center">
            <p>9</p>
        </div>
        <div class="span-flex-4">
            <p>
                <a class="cursor leaderboard-hackername rg_5" data-action="hacker-modal" rel="tooltip" title="cs128deepika last submitted 28 minutes ago" data-value="cs128deepika" href="/cs128deepika" target="_blank" data-analytics="LeaderboardUserName" data-attr1="cs128deepika" data-attr2="" data-attr3="India" data-attr4="logicloom-grand-contest" data-attr5="" data-attr6="" data-attr7="5" data-attr8="9" data-attr10="52">
                    cs128deepika
                </a>


            </p>
        </div>
        <div class="span-flex-2 compare-link" style="visibility: hidden;">
            <p><a target="_blank" href="contests/logicloom-grand-contest/compare/logicloom127/cs128deepika">Compare</a></p>
        </div>
        <div class="span-flex-3">
            <p>
                52.00
            </p>
        </div>


            <div class="span-flex-2">
                <p>
                    37:56
                </p>
            </div>


            <div class="span-flex-3 text-center">
                <img class="flag" rel="tooltip" src="https://hrcdn.net/hackerrank/static/flags/IN.png" title="India" alt="India" onerror="this.onerror=null; this.src='https://hrcdn.net/hackerrank/static/flags/_unknown.png';">
            </div>



</div>
</div><div class="leaderboard-list-view">

    <div class="row padding-small top bottom leaderboard-row  " style="">



        <div class="span-flex-2 text-center">
            <p>10</p>
        </div>
        <div class="span-flex-4">
            <p>
                <a class="cursor leaderboard-hackername rg_5" data-action="hacker-modal" rel="tooltip" title="cs053janaki last submitted 10 minutes ago" data-value="cs053janaki" href="/cs053janaki" target="_blank" data-analytics="LeaderboardUserName" data-attr1="cs053janaki" data-attr2="" data-attr3="" data-attr4="logicloom-grand-contest" data-attr5="" data-attr6="" data-attr7="5" data-attr8="10" data-attr10="40">
                    cs053janaki
                </a>


            </p>
        </div>
        <div class="span-flex-2 compare-link" style="visibility: hidden;">
            <p><a target="_blank" href="contests/logicloom-grand-contest/compare/logicloom127/cs053janaki">Compare</a></p>
        </div>
        <div class="span-flex-3">
            <p>
                40.00
            </p>
        </div>


            <div class="span-flex-2">
                <p>
                    02:47
                </p>
            </div>


            <div class="span-flex-3 text-center">
                <img class="flag" rel="tooltip" src="https://hrcdn.net/hackerrank/static/flags/_unknown.png" title="" alt="" onerror="this.onerror=null; this.src='https://hrcdn.net/hackerrank/static/flags/_unknown.png';">
            </div>



</div>
</div></div>

</div>
</div></div>
</div>
        <button id="download-csv" class="btn btn-primary mt-3">Download CSV</button>
    </div>

    <script>
        document.getElementById('download-csv').addEventListener('click', function () {
            var csv = [];
            var rows = document.querySelectorAll('.leaderboard-list-view .row');

            csv.push('Rank,User,Score,Time,Country');

            rows.forEach(function (row) {
                var rank = row.querySelector('.span-flex-2.text-center p').innerText;
                var user = row.querySelector('.span-flex-4 p a').innerText;
                var score = row.querySelector('.span-flex-3 p').innerText;
                var time = row.querySelector('.span-flex-2 p').innerText;
                var country = row.querySelector('.span-flex-3.text-center img').src.split('/').pop().split('.')[0];

                csv.push(rank + ',' + user + ',' + score + ',' + time + ',' + country);
            });

            var csvContent = 'data:text/csv;charset=utf-8,' + csv.join('\n');
            var encodedUri = encodeURI(csvContent);
            var link = document.createElement('a');
            link.setAttribute('href', encodedUri);
            link.setAttribute('download', 'leaderboard.csv');
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        });
    </script>
</body>
</html>