<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>C programming</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Boogaloo&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        {%load static%}
      <link rel="stylesheet" href="{% static 'course/css/coursestyle.css'%}"/>
    </head>

<body>
    {% for message in messages  %} 
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      <strong>Message : </strong> {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {%endfor%}
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Navbar brand -->
        {% comment %} <a class="navbar-brand"href="{% url 'home' %}" style="margin-left:10px">Home</a> {% endcomment %}
        <a class="navbar-brand" href="{% url 'home' %}" style=" font-family: Arial, Helvetica, sans-serif;margin-left:15px"><span class="app-name">
            <strong><span class="app-initial">Logic</span>Loom</strong>
        </span></a>
        <!-- Text for desktop resolutions -->
        <span class="navbar-text mx-auto d-lg-block">
           functions
        </span>
        
        <!-- Offcanvas Trigger Button for Low-resolution devices -->
        <button class="btn btn-primary ms-auto" type="button" data-bs-toggle="offcanvas"  data-bs-target="#offcanvasWithBothOptions">
            Open Menu
        </button>
    </nav>
    <!-- Offcanvas Body -->
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" 
    aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h2 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Getting Started With C</h2>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" style="color:black">Home</a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:black">
                        chapter 1 Name
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">topic1name</a></li>
                        <li><a class="dropdown-item" href="#">topic2name</a></li>
                       
                        <li><a class="dropdown-item" href="#">topic3name</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:black">
                        chapter 2 Name
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">topic1name</a></li>
                        <li><a class="dropdown-item" href="#">topic2name</a></li>
                        
                        <li><a class="dropdown-item" href="#">topic3name</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:black">
                        chapter 3 Name
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">topic1name</a></li>
                        <li><a class="dropdown-item" href="#">topic2name</a></li>
                      
                        <li><a class="dropdown-item" href="#">topic3name</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:black">
                        chapter 4 Name
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">topic1name</a></li>
                        <li><a class="dropdown-item" href="#">topic2name</a></li>
                        
                        <li><a class="dropdown-item" href="#">topic3name</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:black">
                        chapter 5 Name
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">topic1name</a></li>
                        <li><a class="dropdown-item" href="#">topic2name</a></li>
                        
                        <li><a class="dropdown-item" href="#">topic3name</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:black">
                        chapter 6 Name
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">topic1name</a></li>
                        <li><a class="dropdown-item" href="#">topic2name</a></li>
                        
                        <li><a class="dropdown-item" href="#">topic3name</a></li>
                    </ul>
                </li>
                
            </ul>
        </div>
    </div>
<!--Algorithm and its Characteristics.-->
<!--Matrix operations-->

<div class="container">
  
<h2>Functions with no Arguments with Return Values</h2>
<div class="mt-4"></div>
<ul class="custom-list">
<li>Nesting of functions in C refers to the practice of calling one function from within another function. </li>
<li>This allows for a modular and organized way of structuring code, as functions can be reused and composed to perform more complex tasks.</li>
<li>Syntax:
<br>
return_type function1(parameters1) {<br>
// Function1 code<br>
return_type function2(parameters2) {<br>
  // Function2 code<br>
}<br>
// Function1 code continued<br>
}<br>
</li>
<li><b>Organization:</b> Nesting functions helps in organizing code by breaking down a complex task into smaller, more manageable sub-tasks.</li>
<li><b>Reusability:</b> Functions can be reused in different contexts, promoting a modular and maintainable code structure.</li>
<li><b>Readability:</b> Nesting functions can enhance code readability by encapsulating related functionality within their own scopes.</li>
<li><b>Scope:</b> Each nested function has its own scope, preventing naming conflicts with variables from other functions.</li>
<li><b>Encapsulation:</b> Functions can be encapsulated within each other, hiding their implementation details and exposing only the necessary interface.</li>
<li><b>Parameter Passing:</b> Parameters can be passed between nested functions, allowing for the flow of data and information.</li>
<li><b>Error Isolation: </b>Nesting functions helps in isolating errors to specific sections of code, making debugging more manageable.</li>
<li><b>Complex Task Decomposition:</b> Nesting allows the decomposition of a complex task into a series of simpler, more focused sub-tasks.</li>
<div class="card">
      <div class="header">
        <div class="top">
          <div class="circle">
            <span class="red circle2"></span>
          </div>
          <div class="circle">
            <span class="yellow circle2"></span>
          </div>
          <div class="circle">
            <span class="green circle2"></span>
          </div>
          <div class="title">
            <p id="title2">Program.c</p>
          </div>
        </div>
      </div>
      <div class="code-container">
        <textarea readonly="" name="code" id="code" class="area">
#include <stdio.h>
// Outer function
void outerFunction() {
printf("This is the outer function.\n");
// Inner function
void innerFunction() {
  printf("This is the inner function.\n");
}
innerFunction();  // Call the inner function
}
int main() {
printf("Nesting Functions in C\n");
outerFunction();  // Call the outer function
return 0;
}
     </textarea>
      </div>
    </div>
<p>Output:<br>
Nesting Functions in C<br>
This is the outer function.<br>
This is the inner function.<br>
</p>
</ul>
    <div>
        <div class="container">
   
            <h2 class="mt-4">Resources :</h2>
            <div class="fluid-yt">
                <!--replace youtube link-->
                <iframe src="https://www.youtube.com/embed/dCP5bn2Kee8?si=f50jKCvAw2MSXigY" 
    
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    <div class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <div class="mcqs mt-5">
        
                <form action="{% url 'checkanswerc2' slug='c2ch4t10' %}" method='post'>{% csrf_token %}
                    <p><span>Q1.In C programming, what does a function with no arguments but returning a value typically represent?
                    </span> </p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="q1" value="A" id="q1_option1" required>
                        <label class="form-check-label" for="q1_option1">
                            A) A function that is not useful and should be avoided

                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="q1" value="B" id="q1_option2">
                        <label class="form-check-label" for="q1_option2">
                            B) A function that requires user input during execution

                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="q1" value="C" id="q1_option3">
                        <label class="form-check-label" for="q1_option3">
                            C) A function that performs a specific task and produces a result
  
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="q1" value="D" id="q1_option4">
                        <label class="form-check-label" for="q1_option4">
                            D) A function that terminates the program execution

                        </label>
                    </div>
                
                    <p><span>Q2.How is the absence of arguments specified in the function declaration for a C function with no parameters?
                    </span> </p>
                    
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="q2" value="A" id="q2_option1" required>
                        <label class="form-check-label" for="q2_option1">
                            A) Leave the parentheses empty: function_name()

                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="q2" value="B" id="q2_option2">
                        <label class="form-check-label" for="q2_option2">
                            B) Use the keyword void inside the parentheses: function_name()

                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="q2" value="C" id="q2_option3">
                        <label class="form-check-label" for="q2_option3">
                            C) Omit the parentheses entirely: function_name()

                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="q2" value="D" id="q2_option4">
                        <label class="form-check-label" for="q2_option4">
                            D) Use the keyword none inside the parentheses: function_name()

                        </label>
                    </div>
                    <input type="submit" class="btn btn-primary" style="margin-top: 15px;">
                </form>
            </div>  
        
      </div>
   
    </div>
      

    <div id="navigation" class="mt-4 text-center">
      <a href="{% url 'course2' slug='c2ch5t10'%}" class="btn btn-secondary">Prev</a>
      <a href="{% url 'course2' slug='c2ch5t12'%}" class="btn btn-secondary">Next</a>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>