    <!DOCTYPE html>
    <html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>C programming</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Boogaloo&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        {%load static%}
        <link rel="stylesheet" href="{% static 'course/css/coursestyle.css'%}"/>
    </head>
    
    <body>
        {% for message in messages  %} 
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          <strong>Message : </strong> {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {%endfor%}
   <!-- Navbar -->
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="{% url 'home' %}" style=" font-family: Arial, Helvetica, sans-serif;margin-left:15px"><span class="app-name">
        <strong><span class="app-initial">Logic</span>Loom</strong>
    </span></a>
    <!-- Text for desktop resolutions -->
    <span class="navbar-text mx-auto d-lg-block">
      Switch Stament
    
    </span>
    
    <!-- Offcanvas Trigger Button for Low-resolution devices -->
    <button class="btn btn-primary ms-auto" type="button" data-bs-toggle="offcanvas"  data-bs-target="#offcanvasWithBothOptions">
        Open Menu
    </button>
</nav>
          
        <!-- Offcanvas Body -->
        <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" 
        aria-labelledby="offcanvasWithBothOptionsLabel">
            <div class="offcanvas-header">
                <h2 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Getting Started With C</h2>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" style="color:black">Home</a>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:black">
                            chapter 1 Name
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">topic1name</a></li>
                            <li><a class="dropdown-item" href="#">topic2name</a></li>
                           
                            <li><a class="dropdown-item" href="#">topic3name</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:black">
                            chapter 2 Name
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">topic1name</a></li>
                            <li><a class="dropdown-item" href="#">topic2name</a></li>
                            
                            <li><a class="dropdown-item" href="#">topic3name</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:black">
                            chapter 3 Name
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">topic1name</a></li>
                            <li><a class="dropdown-item" href="#">topic2name</a></li>
                          
                            <li><a class="dropdown-item" href="#">topic3name</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:black">
                            chapter 4 Name
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">topic1name</a></li>
                            <li><a class="dropdown-item" href="#">topic2name</a></li>
                            
                            <li><a class="dropdown-item" href="#">topic3name</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:black">
                            chapter 5 Name
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">topic1name</a></li>
                            <li><a class="dropdown-item" href="#">topic2name</a></li>
                            
                            <li><a class="dropdown-item" href="#">topic3name</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:black">
                            chapter 6 Name
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">topic1name</a></li>
                            <li><a class="dropdown-item" href="#">topic2name</a></li>
                            
                            <li><a class="dropdown-item" href="#">topic3name</a></li>
                        </ul>
                    </li>
                    
                </ul>
            </div>
        </div>
    <!--Algorithm and its Characteristics.-->
    <!--Matrix operations-->
    
    <div class="container">
      <div class="topicstart">
        <h2> switch statements </h2><!--topic name between p tag-->
        {% load static%}
        <img src="{% static 'course/images/c2ch3t6img1.jpg'%}"  class="img-fluid" id="flow" >
      </div>
     <h2>Syntax:</h2>
     <p>
      switch (expression) {<br>
          case value1:<br>
            // code block<br>
            break;<br>
          case value2:<br>
            // code block<br>
            break;<br>
          // more cases as needed<br>
          default:<br>
            // code block for default case<br>
        }
        
      
     </p>
     <h2>
      Explanation:
     </h2>
     <ul class="custom-list">
              <li>The switch statement in C is a control flow mechanism that allows a program to make decisions based on the value of a variable.</li>
              <li>. It is an efficient and readable alternative to a series of if-else statements, and it consists of an expression that is evaluated and compared to a series of case values.</li>
              <li>The case keyword followed by a constant expression and a colon. If the value of the switch expression matches the constant expression in a case label, the statements following that case label will be executed.</li>
              <li>One or more statements that follow a case label.</li>
              <li>The optional default keyword followed by a colon and one or more statements. The statements following the default label are executed if the value of the switch expression does not match any of the constant expressions in the case labels.</li>
              
              </ul>
    <h3>Sample code:</h3>
    <div class="card1">
      <div class="header">
        <div class="top">
          <div class="circle">
            <span class="red circle2"></span>
          </div>
          <div class="circle">
            <span class="yellow circle2"></span>
          </div>
          <div class="circle">
            <span class="green circle2"></span>
          </div>
          <div class="title">
            <p id="title2">Program.c</p>
          </div>
        </div>
      </div>
      <div class="code-container">
        <textarea readonly="" name="code" id="code" class="area">
         
          #include <stdio.h>

              int main() {
                  int day = 3;
                  char* dayOfWeek;
              
                  switch (day) {
                      case 1:
                          dayOfWeek = "Monday";
                          break;
                      case 2:
                          dayOfWeek = "Tuesday";
                          break;
                      case 3:
                          dayOfWeek = "Wednesday";
                          break;
                      case 4:
                          dayOfWeek = "Thursday";
                          break;
                      case 5:
                          dayOfWeek = "Friday";
                          break;
                      case 6:
                          dayOfWeek = "Saturday";
                          break;
                      case 7:
                          dayOfWeek = "Sunday";
                          break;
                      default:
                          dayOfWeek = "Invalid day";
                  }
              
                  printf("The day is %s\n", dayOfWeek);
              
                  return 0;
              }
              
              
  
     </textarea >
      </div>
    </div>
<h3>output:</h3>
<div class="card1">
<div class="header">
  <div class="top">
    <div class="circle">
      <span class="red circle2"></span>
    </div>
    <div class="circle">
      <span class="yellow circle2"></span>
    </div>
    <div class="circle">
      <span class="green circle2"></span>
    </div>
    <div class="title">
      <p id="title2">output.c</p>
    </div>
  </div>
</div>
<div class="code-container">
  <textarea readonly="" name="code" id="code" class="area">
    The day is Wednesday
</textarea
  >
</div>
</div>
        <div>
          <h2>Resources :</h2>
          
          <div class="fluid-yt">
              <!--replace youtube link-->
            <iframe 
              src="https://www.youtube.com/embed/CIRGjwYgdT4?si=Q43Rt9vXbAbJsYX8"   
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
            ></iframe>
          </div>
        </div>
    
    
        <div class="card">
            <div class="card-header">
              Featured
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <div class="mcqs mt-5">
            
                    <form action="{% url 'checkanswerc2' slug='c2ch4t10' %}" method='post'>{% csrf_token %}
                        <p><span>Q1. </span> A switch statement is used to
                          
                          </p>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q1" value="A" id="q1_option1" required>
                            <label class="form-check-label" for="q1_option1">
                                 A. To use switching variable
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q1" value="B" id="q1_option2">
                            <label class="form-check-label" for="q1_option2">
                              B.   Switch between function in a programchar
                            </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="q1" value="C" id="q1_option1" required>
                          <label class="form-check-label" for="q1_option1">
                               C.  Switch from one variable to another variable
                          </label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="q1" value="D" id="q1_option2">
                          <label class="form-check-label" for="q1_option2">
                            D.To choose from multiple possibilities which may arise due to different values of a single variable
                          </label>
                      </div>
                    
                        <p><span>Q2. </span>If switch feature is used, then
                         
                          
                          </p>
                        
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q2" value="A" id="q2_option1" required>
                            <label class="form-check-label" for="q2_option1">
                                A. Default case must be present
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q2" value="B" id="q2_option2">
                            <label class="form-check-label" for="q2_option2">
                               B.Default case, if used, should be the last case
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q2" value="C" id="q2_option3">
                            <label class="form-check-label" for="q2_option3">
                                 C.Default case, if used, can be placed anywhere
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="q2" value="D" id="q2_option4">
                            <label class="form-check-label" for="q2_option4">
                               D.None of the above
                            </label>
                        </div>
                        <input type="submit" class="btn btn-primary" style="margin-top: 15px;">
                    </form>
                </div>  
            
          </div>
       
        </div>
          
    
        <div id="navigation" class="mt-4 text-center">
          <a href="{% url 'course2' slug='c2ch3t5'%}" class="btn btn-secondary">Prev</a>
          <a href="{% url 'course2' slug='c2ch3t7'%}" class="btn btn-secondary">Next</a>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
    </html>