<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C programming</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Boogaloo&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    {%load static%}
    <link rel="stylesheet" href="{% static 'course/css/coursestyle.css'%}"/>
</head>

<body>
    {% for message in messages  %} 
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      <strong>Message : </strong> {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {%endfor%}
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Navbar brand -->
        {% comment %} <a class="navbar-brand"href="{% url 'home' %}" style="margin-left:10px">Home</a> {% endcomment %}
        <a class="navbar-brand" href="{% url 'home' %}" style=" font-family: Arial, Helvetica, sans-serif;margin-left:15px"><span class="app-name">
            <strong><span class="app-initial">Logic</span>Loom</strong>
        </span></a> 
        <!-- Text for desktop resolutions -->
        <span class="navbar-text mx-auto d-lg-block">
            String handling functions  
        </span>
        
        <!-- Offcanvas Trigger Button for Low-resolution devices -->
        <button class="btn btn-primary ms-auto" type="button" data-bs-toggle="offcanvas"  data-bs-target="#offcanvasWithBothOptions">
            Open Menu
        </button>
    </nav>

   <!-- Offcanvas Body -->
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" 
aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h2 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Getting Started With C</h2>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}" style="color:black">Home</a>
            </li>
            {% for chapter, topics in chapters.items %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:black">
                    Chapter {{ chapter }}
                </a>
                <ul class="dropdown-menu">
                    {% for topic in topics %}
                    <li>
                         <a class="dropdown-item {% if topic.completed %}completed{% endif %}" href="{% url 'course2' slug=topic.topicid%}">{{ topic.topic_text }}
                        
                            {% if topic.completed %}
                                <img src="{% static 'course/images/tickmark.svg' %}" class="svg" alt="Completed">
                            {% endif %}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<!--Algorithm and its Characteristics.-->
<!--Matrix operations-->

<div class="container">
    
    <h1>String-Handling Functions</h1>
    <ul class="custom-list">
        <li>In C, string handling is commonly done using functions from the <string.h> library. </li>
            <li>Some essential functions include:</li>
            <li><b>strlen(str):</b><br>Returns the length of the string str.</li>
            <li><b>strcpy(dest, src):</b><br>Copies the string src to dest. strcat(dest, src): Concatenates the string src onto the end of dest.</li>
            <li><b>strcmp(str1, str2): </b><br>Compares two strings str1 and str2.</li>
            <li><b> strchr(str, ch):</b><br> Returns a pointer to the first occurrence of character ch in string str.</li>
            <li>  <b>strstr(str1, str2): </b><br>Returns a pointer to the first occurrence of string str2 in string str.</li>
            <li>Example: </li>
        
        
    <div class="card1">
                <div class="header">
                  <div class="top">
                    <div class="circle">
                      <span class="red circle2"></span>
                    </div>
                    <div class="circle">
                      <span class="yellow circle2"></span>
                    </div>
                    <div class="circle">
                      <span class="green circle2"></span>
                    </div>
                    <div class="title">
                      <p id="title2">Program.c</p>
                    </div>
                  </div>
                </div>
                <div class="code-container">
                  <textarea readonly="" name="code" id="code" class="area">
                    #include <stdio.h>
                        #include <string.h>
                        int main() {
                            char str1[20] = "Hello";
                            char str2[20] = "World";
                            // Concatenate str2 onto str1
                            strcat(str1, str2);
                            // Print the result
                            printf("Concatenated string: %s\n", str1);
                            // Find the length of the string
                            int length = strlen(str1);
                            printf("Length of the string: %d\n", length);
                            // Compare two strings
                            if (strcmp(str1, "HelloWorld") == 0) {
                                printf("Strings are equal.\n");
                            } else {
                                printf("Strings are not equal.\n");
                            }
                            return 0;
                        }
                        
                                   </textarea
                                      >
                                    </div>
                                  </div>
                        <p>Output:<br>
                        Concatenated string: HelloWorld<br>
                        Length of the string: 10<br>
                        Strings are equal.<br>
                        </p>
                        <li>Make sure to handle memory carefully, and consider using safer alternatives like strncpy and snprintf to avoid buffer overflows.</li>
                         </ul>
                        
                        
                             

    <div class="container">
   
        <h2 class="mt-4">Resources :</h2>
        <div class="fluid-yt">
            <!--replace youtube link-->
            <iframe src="https://www.youtube.com/embed/b-5beEPeV0c?si=8etTlQ7TiZMlmDR0"
   
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <div class="mcqs mt-5">
        
                <form action="{% url 'checkanswer' slug='c2ch4t16' %}" method='post'>{% csrf_token %}
                    <p><span>Q1. </span><p>Is there any function declared as strstr()?
                        </p>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="q1" value="A" id="q1_option1" required>
                        <label class="form-check-label" for="q1_option1">
                             A. True 
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="q1" value="B" id="q1_option2">
                        <label class="form-check-label" for="q1_option2">
                          B. False 
                        </label>
                    </div>
                    
                    <p><span>Q2. </span>The______ function returns a pointer to the first character of a token.</p>
                    
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="q2" value="A" id="q2_option1" required>
                        <label class="form-check-label" for="q2_option1">
                            A. strstr()  
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="q2" value="B" id="q2_option2">
                        <label class="form-check-label" for="q2_option2">
                           B. strcpy() 
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="q2" value="C" id="q2_option3">
                        <label class="form-check-label" for="q2_option3">
                             C. strspn()    
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="q2" value="D" id="q2_option4">
                        <label class="form-check-label" for="q2_option4">
                           D. strtok()   
                        </label>
                    </div>
                    <input type="submit" class="btn btn-primary" style="margin-top: 15px;">
                </form>
            </div>  
        
      </div>
   
    </div>
      

    <div id="navigation" class="mt-4 text-center">
        <a href="{% url 'course2' slug='c2ch4t15'%}" class="btn btn-secondary">Prev</a>
        <a href="{% url 'course2' slug='c2ch4t17'%}" class="btn btn-secondary">Next</a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>