<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C programming</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Boogaloo&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    {%load static%}
   <link rel="stylesheet" href="{% static 'course/css/coursestyle.css'%}"/>
</head>

<body>
 
    {% for message in messages  %} 
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      <strong>Message : </strong> {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {%endfor%}
    <!-- Navbar -->
     <!-- Navbar -->
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Navbar brand -->
        {% comment %} <a class="navbar-brand"href="{% url 'home' %}" style="margin-left:10px">Home</a> {% endcomment %}
        <a class="navbar-brand" href="{% url 'home' %}" style=" font-family: Arial, Helvetica, sans-serif;margin-left:15px"><span class="app-name">
            <strong><span class="app-initial">Logic</span>Loom</strong>
        </span></a>
   
        <!-- Text for desktop resolutions -->
        <span class="navbar-text mx-auto d-lg-block">
            Algorithm Design
        </span>
        
        <!-- Offcanvas Trigger Button for Low-resolution devices -->
        <button class="btn btn-primary ms-auto" type="button" data-bs-toggle="offcanvas"  data-bs-target="#offcanvasWithBothOptions">
            Open Menu
        </button>
    </nav>

   <!-- Offcanvas Body -->
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" 
aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <h2 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Getting Started With C</h2>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}" style="color:black">Home</a>
            </li>
            {% for chapter, topics in chapters.items %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:black">
                    Chapter {{ chapter }}
                </a>
                <ul class="dropdown-menu">
                    {% for topic in topics %}
                    <li>
                         <a class="dropdown-item {% if topic.completed %}completed{% endif %}" href="{% url 'course2' slug=topic.topicid%}">{{ topic.topic_text }}
                        
                            {% if topic.completed %}
                                <img src="{% static 'course/images/tickmark.svg' %}" class="svg" alt="Completed">
                            {% endif %}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<!--Algorithm and its Characteristics.-->
<!--Matrix operations-->

<div class="container">
     
    <ul class="custom-list">
        <li>Algorithm design refers to a method or a mathematical process for problem-solving and engineering algorithms. </li>
         <li>The design of algorithms is part of many solution theories, such as divide-and-conquer or dynamic programming within operation research. </li>
         <li>Techniques for designing and implementing algorithm designs are also called algorithm design patterns, with examples including the template method pattern and the decorator pattern.</li>
     
         <h1>Typical steps in the development of algorithms :</h1>
         <li>Problem definition</li>
         <li>Development of a model</li>
         <li>Specification of the algorithm</li>
         <li>Designing an algorithm</li>
         <li>Checking the correctness of the algorithm</li>
         <li>Analysis of algorithm</li>
         <li>Implementation of algorithm</li>
         <li>Program testing</li>
         <li>Documentation preparation</li>
         <h1>How to write algorithms </h1>
         <li>Define the problem you want the algorithm to solve. </li>
         <li>Break the problem down into smaller, manageable steps</li>
         <li>Write your algorithm in pseudocode or a programming language</li>
         <li>Test your algorithm to make sure it is correct and efficient. </li>
         <li>Optimize the algorithm</li>      
       </ul>
       <div>
    
   


     
    <div class="card" style="margin-top:20px;">
        <div class="card-header">
         Assess Your Understanding
        </div>
        <div class="card-body">
          <h5 class="card-title">Answer the following Two questions: </h5>
          <div class="mcqs mt-5">
        
                <form action="{% url 'checkanswerc2' slug='c2ch1t6' %}" method='post'>{% csrf_token %}
                    <p><span>Q1. What does algorithm design refer to?</span></p>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="q1" value="A" id="q1_option1" required>
                        <label class="form-check-label" for="q1_option1">
                             A. Implementing algorithms in a programming language
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="q1" value="B" id="q1_option2">
                        <label class="form-check-label" for="q1_option2">
                          B.  Writing code to solve a problem
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="q1" value="C" id="q1_option3">
                        <label class="form-check-label" for="q1_option3">
                           C. A method or mathematical process for problem-solving and engineering algorithms
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="q1" value="D" id="q1_option4">
                        <label class="form-check-label" for="q1_option4">
                            D.  Designing user interfaces for software applications
                        </label>
                    </div>
                
                    <p><span>Q2. What is the first step in the development of algorithms, as outlined in the content?</span></p>
                    
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="q2" value="A" id="q2_option1" required>
                        <label class="form-check-label" for="q2_option1">
                            A. Analysis of algorithm
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="q2" value="B" id="q2_option2">
                        <label class="form-check-label" for="q2_option2">
                           B. Specification of the algorithm
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="q2" value="C" id="q2_option3">
                        <label class="form-check-label" for="q2_option3">
                             C. Problem definition
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="q2" value="D" id="q2_option4">
                        <label class="form-check-label" for="q2_option4">
                           D. Development of a model
                        </label>
                    </div>
                    <input type="submit" class="btn btn-primary" style="margin-top: 15px;">
                </form>
            </div>  
        
      </div>
   
    </div>
      

    <div id="navigation" class="mt-4 text-center">
        <a href="{% url 'course2' slug='c2ch1t5'%}" class="btn btn-secondary">Prev</a>
        <a href="{% url 'course2' slug='c2ch1t7'%}" class="btn btn-secondary">Next</a> </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>